@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-limegreen: #b1f6cb;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

}

body{
  font-family: "Roboto Condensed" sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**************** Navbar Styling for Navbar ***************/

.logo {
  width: 100%;
}

/***** Menu Links *******/

nav {
  z-index: 2;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark)

}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 imp !important;
  height: 6rem !important;
}
@media(max-width: 768px) {
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-limegreen)
} 

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-limegreen)
}

/**************** page display ***************/

.header-wrapper, .aboutMe-wrapper, .portfolio-wrapper, .contact-wrapper {
  position: relative;
  background: url(./assets/congruent_pentagon.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
  
}

.main-info h1 {
  color: rgb(122, 0, 122);
  font-size: 3rem;
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size:1.9rem !important
  }
  .typed-text {
    font: size 1.1rem !important
  }
}

/*********************************  Typed Text ******************/

.typed-text{
  font-family: "Roboto Condensed", sans-serif;
  color: blue;
  font-size: 1.8rem;
}



/*********************************  Header Main offer button ******************/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color:rgb(122, 0, 122);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  transition: .3s ease-in-out;
  color: var(--primary-white)
}


/*********************************  Particles ******************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/***************************** About Me **********************/

.ProfessionalImage {
  width: 31.25rem;
}